@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes marching-gradient {
    0% { background-position: 0 0; }
    100% { background-position: 24px 0; }
  }
  .animate-flow {
    background-image: linear-gradient(
      90deg,
      transparent 0,
      transparent 6px,
      rgb(59 130 246) 6px,
      rgb(59 130 246) 18px,
      transparent 18px,
      transparent 24px
    );
    background-size: 24px 100%;
    animation: marching-gradient 0.8s linear infinite;
  }
}
